@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

.stop--scroll {
    height: 100%;
    overflow: hidden;
}

.first--hidden {
    display: hidden;
}

.top--nav--container {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-around;
}

.horizontal--nav--list {
    display: flex;
    list-style: none;
}

.nav--link {
    margin-right: 20px;

    text-decoration: none;
    color: black;

}

.clickable:hover {
    cursor: pointer;
}

.notepad--img--for--now {
    width: 40px;
    height: 40px;
}

.greeting--img--banner {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 400px;
}

.overlap--img {
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: -1;
}

.make--center {
    max-width: fit-content;
}

.logo {
    display: block;

    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 12px;
}

.search--bar {
    display: block;

    font-size: 1.2rem;

    width: 28ch;

    border-width: 1px;
    border-radius: 30px;
    border-color: black; /*Change the colour of the border*/

    padding: .5rem 1.2rem;
}

.search--bar:focus {
    outline: none;
    box-shadow: 0 0 3px aqua; /*Change the colour of the shadow*/
}

.pop-up--window {
    display: none;
}

.pop-up--background {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: .3;
}

.pop-up--foreground {
    width: 700px; /*Change it later*/
    height: 400px; /*Change it later*/
    background-color: black;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}