@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Noto Sans JP', 'Assistant', sans-serif;

    /*Get rid of user agnet styles*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;

    padding: 0;
    margin: 0;

    border-width: 0;
}

img {
    display: block;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {
    vertical-align: text-bottom;
    width: fit-content;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h-1 {
    font-size: 2rem;
    margin-bottom: .4rem;
    font-weight: 700;
}

.h-2 {
    font-size: 2rem;
    margin-right: 16px;
    margin-bottom: .4rem;
    font-weight: 700
}

.nonselect {
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.no-mouse { cursor: not-allowed; }

.backlink {
    color: #515151;
    transition-property: color;
    transition-duration: 250ms;
}
.backlink:visited { color: #515151; }
.backlink:hover { color: #00A651; }

.stop--scroll {
    height: 100%;
    overflow: hidden;
}

.round-button {
    background-color: #00A651;
    border-radius: 50px;
    text-align: center;

    padding: .7rem 1.6rem;
}

.dropdown {
    position: absolute;
    background-color: #fff;
}
.dropdown:hover { display: block; }

.nondisplay { display: none !important; }

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

.block { display: block; }

.nondeco-link {
    text-decoration: none;
    color: black;
}

.clickable:hover { cursor: pointer; }

.overlay-container { position: relative; }
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: inherit;
    height: inherit;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline { display: inline-block; }

#top-nav {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
}

#selection-title { margin-bottom: 1.6rem; }


.selection-link {
    width: 100%;

    background-color: #000;
}

.food-img {
    width: inherit;
    height: 300px;

    object-fit: cover;

    transition-duration: 300ms;
}
.food-img:hover { opacity: .8; }

.checkbox {
    margin: .2rem;

    height: 102px;
    width: 102px;

    text-align: center;
    vertical-align: middle;

    display: inline-block;

    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-property: all;
}
.checkbox:hover { border-color: #e0e0e0; }

#form > input:checked + label { border-color: #00A651 !important; }

.checkbox-img {
    width: inherit;
    height: inherit;
    object-fit: cover; 
    border-radius: 50%;
}

.text-over-img {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}


#main-nav { margin: 0 12rem; }
#misc-container { justify-content: space-evenly; }


#main-wrapper { padding: 0 50px; }


#search-query {
    width: 30rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: .4rem;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #9f9f9f;

    font-size: 1rem;

    outline: none;
    transition-duration: 100ms;
}
#search-query:focus { border-color: #00A651; }
#search-field { background-color: #fff; }

.search-res-link {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    text-decoration: none;
    color: #000;
}
.search-res-text-wrapper {
    width: 18rem;
    height: 9rem;

    margin-left: .2rem;

    background-color: #fff;
}

.search-res-name {
    font-size: 1.6rem;
    font-weight: 700;
}


#top-picks-wrapper {
    width: auto;
    width: -moz-available;
    margin-bottom: 6rem;
}

#pop-up--background {
    position: fixed;
    display: block;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    visibility: visible;
    opacity: .3;

    z-index: 2;
    transition-duration: 400ms;
}
#pop-up--foreground {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px; /*Change it later*/
    background-color: #fff;
    visibility: visible;
    opacity: 1;

    z-index: 3;
    transition-duration: 400ms;
}

#window-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

#form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#back-to-top-bnt {
    position: fixed;
    display: block;

    right: 2rem;
    bottom: 2rem;

    opacity: .8;

    transition-duration: 200ms;
}

/* For screen size of phone */
@media screen and (min-width: 481px) {

    #logo-main { display: none; }
    #logo-small { display: block; }
    #hamburger-nav { display: block; }
    #misc-container { width: 180px; }
}

/* landscape tablets */
@media screen and (min-width: 769px) {

    #main-nav { margin: 0 auto; }
    #nav-container { width: 90%; }

    .nav-link { padding: .2rem; }
}

/* laptop/desktop */
@media screen and (min-width: 1025px) {

    #logo-main { display: block; }
    #logo-small { display: none; }
    #hamburger-nav { display: none; }
    #misc-container { width: 180px; }

    .nav-link { padding: 1rem .5rem; }
}

/* Extra large screens, TV*/
@media screen and (min-width: 1250px) {

    #main-wrapper { width: 1200px; }

    .nav-link {
        margin: 0 1rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 1500px) {

    #nav-container { width: fit-content; }
    #main-nav { margin: 0 12rem; }
}

.cls-wrapper { fill: #fff; }
.cls-changing-arrow { fill: #00A651; }
.cls-green { fill: #00A651; }

@media (prefers-color-scheme: dark) {
    
    .cls-wrapper { fill: #000; }
    .cls-changing-arrow { fill: #000; }
}