@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500&family=Noto+Sans+JP:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;

    /*Get rid of user agnet styles*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;

    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

img {
    display: block;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {
    vertical-align: text-bottom;
    width: fit-content;
}

.bottom--spacing {
    margin-bottom: 3rem;
}

.stop--scroll {
    height: 100%;
    overflow: hidden;
}

.button-styles {
    background-color: #00A651;
    border-radius: 50px
}


.dropdown--list {
    position: absolute;
    background-color: #fff;
}

.hidden {
    display: none;
}

.block--display {
    display: block !important;
}

.undecorated--link {
    text-decoration: none;
    color: black;
}

.spacing {
    margin: 0 1rem;
}

.link--padding {
    padding: 1rem;
}

.clickable:hover {
    cursor: pointer;
}

.overlay-container {
    position: relative;
}

.greeting--img--banner {
    width: 100%;
    height: 400px;
}

.menu--selection--container {
    width: fit-content;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.flex--centered-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;

    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 12px;
}

.food-img
{
    width: 300px;
    height: 300px;
}

.search--bar {
    display: block;

    font-size: 1.2rem;

    width: 28ch;
    height: 2ch;

    border-width: 1px;
    border-radius: 30px;
    border-color: black; /*Change the colour of the border*/

    padding: .5rem 1.2rem;
}

.search--bar:focus {
    outline: none;
    box-shadow: 0 0 3px aqua; /*Change the colour of the shadow*/
}


.pop-up--background {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: .3;
}

.pop-up--foreground {
    
    width: 800px; /*Change it later*/
    height: 450px; /*Change it later*/
    background-color: white;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exit--button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}