input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type = number] { -moz-appearance: textfield; }

header {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
}

ul { padding-left: 30px; }

.backlink:visited { color: inherit; }

.backlink {
    transition-property: color;
    transition-duration: 450ms;
}

.backlink:hover { color: #00A651; }

.action-button {
    background-color: #00A651;

    transition-property: all;
    transition-duration: 200ms;
}
.action-button:hover { background-color: #FEBD40; }

.button-text { margin-left: .8rem; }

#misc-container { justify-content: space-evenly; }

#menu_name {
    font-size: 4.6rem;
    font-weight: 700;
}

#menu-container { margin-top: 25px; }
#menu-img { object-fit: cover; }


#ing_ser_container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#serving_container { justify-content: left; }

#serving-title {
    font-size: 2rem;
    margin-right: 16px;
}

#serving-option-container { margin-top: 6px; }

#serving, #serving-mobile {
    border-style: solid;
    border-color: #9f9f9f;
    border-width: 1px;
    border-radius: 3px;

    font-size: 1rem;
    text-align: center;
    color: #000;

    outline-color: #00A651;
    background-color: #fff;
}
#serving {
    width: 2rem;
    height: 1.625rem;
    margin: 0 .75rem;
}
#serving-mobile { padding: 2px 0; }
#serving-minus, #serving-add { height: 24px; }



/* For screen size of phone */
@media screen and (min-width: 481px){

    #logo-main { display: none; }
    #logo-small { display: block; }
    #misc-container { width: 180px; }

    #menu-container { width: fit-content; }

    #serving_container { display: block; }
    #serving-option-container { justify-content: left; }
    #serving, #serving-minus, #serving-add { display: none; }
}

/* landscape tablets */
@media screen and (min-width: 769px) {

    .nav-link { padding: .2rem; }

    #main-nav { margin: 0 auto; }
    #nav-container { width: 90%; }

    #menu-img {
        width: inherit;
        height: inherit;
    }
} 

/* Special case */
@media screen and (min-width: 930px) {

    #serving_container { 
        display: flex;
        margin-bottom: .8rem;
    }
}

/* laptop/desktop */
@media screen and (min-width: 1025px) {
    
    .nav-link { padding: 1rem .5rem; }

    .action-button {
        width: 8.4rem;
        height: 3rem;
    }

    #logo-main { display: block; }
    #logo-small { display: none; }

    #misc-container { width: 180px; }
    
    #menu-container {
        padding-left: 25px;
    }
    #menu-img {
        width: 450px;
        height: 300px;
    }

    #top-part-container {
        width: 90%;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }    

    #side-img-container { width: 500px; }

    #serving, #serving-minus, #serving-add { display: block; }
    #serving-mobile { display: none; }

    #action-button-container {
        width: 500px;
        margin-bottom: 1.2rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



/* Extra large screens, TV*/
@media screen and (min-width: 1250px) {
    .nav-link {
        margin: 0 1rem;
        padding: 1rem;
    }

    #menu-container {
        width: 1200px;
        padding-left: 50px;
    }

    #menu-img {
        width: 600px;
        height: 400px;
    }

    #top-part-container {
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }    

    #side-img-container {
        width: fit-content;
        padding-left: 50px;
    }
}


@media screen and (min-width: 1500px) {

    #nav-container { width: fit-content; }
    #main-nav { margin: 0 12rem; }
}

/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/