input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type = number] { -moz-appearance: textfield; }

ul { padding-left: 30px; }

.action-button {
    background-color: #00A651;

    transition-property: all;
    transition-duration: 200ms;
}
.action-button:hover { background-color: #FEBD40; }

.button-text { margin-left: .8rem; }


#menu_name {
    font-size: 4.6rem;
    font-weight: 700;
}

#menu-container { margin-bottom: 64px; }

#menu-img { object-fit: cover; }

#ingredient-serving-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#serving_container { justify-content: left; }

#serving-title {
    font-size: 2rem;
    margin-right: 16px;
}

#serving-option-container { margin-top: 6px; }

#serving-minus, #serving-add {
    height: 24px;
    width: auto;
}

#serving-input, #serving-input-mobile {
    border-style: solid;
    border-color: #9f9f9f;
    border-width: 1px;
    border-radius: 3px;

    font-size: 1rem;
    text-align: center;
    color: #000;

    outline-color: #00A651;
    background-color: #fff;
}
#serving-input {
    width: 2rem;
    height: 1.625rem;
    margin: 0 .75rem;
}
#serving-input-mobile {
    width: 2.6rem;
    padding: 2px 0;
}

/* For screen size of phone */
@media screen and (min-width: 481px) {

    #menu-container {
        width: auto;
        width: fit-content;
    }
    #serving_container { display: block; }
    #serving-option-container { justify-content: left; }
    #serving-input, #serving-minus, #serving-add { display: none; }
    #serving-input-mobile { display: block; }
}

/* landscape tablets */
@media screen and (min-width: 769px) {

    #menu-img { width: inherit; }
    #top-part-container { margin-bottom: 24px; }
} 

/* Special case */
@media screen and (min-width: 930px) {

    #serving_container { 
        display: flex;
        margin-bottom: .8rem;
    }
}

/* laptop/desktop */
@media screen and (min-width: 1025px) {

    .action-button {
        width: 8.4rem;
        height: 3rem;
    }

    #top-part-container {
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }    
    #side-img-container {
        width: 500px;
        margin-left: 24px;
    }
    #serving-input, #serving-minus, #serving-add { display: block; }
    #serving-input-mobile { display: none; }

    #action-button-container {
        width: 500px;
        margin-bottom: 1.2rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Extra large screens, TV*/
@media screen and (min-width: 1250px) {

    #menu-img {
        width: 600px;
        height: 400px;
    }
    #top-part-container {
        width: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }    
    #side-img-container {
        width: fit-content;
        padding-left: 50px;
    }
}

@media screen and (min-width: 1500px) { }