input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#main-wrapper {
    width: 1200px;
    display: flex;
}
#shopping-list-wrapper {
    width: auto;
}
.menu-wrapper {
    display: flex;
    align-items: center;
}
.menu-content-wrapper {
    margin: 0 1rem;
}
.menu-main-content-wrapper {
    display: flex;
}
.menu-main-content-wrapper > * + * {
    margin-left: 1rem;
}
.menu-img {
    width: 250px;
    height: 125px;
    object-fit: cover;
    
    flex-shrink: 0;
}
.menu-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #00A651;
    text-decoration: none;
    transition-duration: 300ms;
}
.menu-name:hover { text-decoration: underline; }

.ingredients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.ingredients-list > li {
    padding: 0 .5rem;
}
.ingredients-link {
    color: #5c5c5c;
    transition-duration: 300ms;
    text-decoration: none;
}
.ingredients-link:hover { text-decoration: underline; }

.menu-label {
    position: relative;
    padding: 10px 0;
    padding-right: 1rem;
    margin-left: 1rem;
    transition-duration: 300ms;
}
.desc {
    margin-top: .4rem;
}
.sticky {
    position: sticky;
    top: 10px;

    flex-shrink: 0;

    width: 400px;
    height: max-content;
    height: fit-content;
}
.menu-label::after {
    content: '';

    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: -1;

    background-color: #00A651;
    transition-duration: 300ms;
}
.menu-tickbox:checked + .menu-label::after { height: 6px; }

/*
.menu-tickbox:checked + .menu-label { color: #fff; }
.menu-tickbox:checked + .menu-label .menu-name { color: #000; }
.menu-tickbox:checked + .menu-label .ingredients-link { color: #fff; }
.menu-tickbox:checked + .menu-label::after { height: 100% !important; }
*/

.serving-input {
    width: 2rem;
    margin: .6rem auto;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 158, 158);

    font-size: 1rem;
    text-align: center;
    flex-shrink: 0;

    outline: none;
    transition-duration: 150ms;
}
.serving-input:focus {
    border-color: #00A651;
    box-shadow: 0 0 0 1px #00A651;
}
.serving-input-arrow {
    height: 2.2rem;
    width: 2.2rem;
}

/* Phone */
@media screen and (min-width: 481px) {
    .serving-input { display: none; }
    .serving-input-arrow { display: none; }
    .serving-input-mobile { display: block; }
}

/* Laptop & Desktop */
@media screen and (min-width: 1025px) {
    .serving-input { display: block; }
    .serving-input-arrow { display: block; }
    .serving-input-mobile { display: none; }
}